html
{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body
{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    background-color: #222;
}

/*#region Scrow bar */
::-webkit-scrollbar
{
	width: 5px;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 5px #777; 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb
{
	background: #A66D03; 
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover
{
	background: rgb(133, 87, 2); 
}
/*#endregion Scrow bar */

/*#region Loader */
.Loader
{
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: hidden;
}

.Loader.hidden
{
	animation: fadeOut 1s;
	animation-fill-mode: forwards;
	overflow-y: visible;
}

@keyframes fadeOut
{
	100%
	{
		opacity: 0;
		visibility: hidden;
	}
}

.obj
{
	width: 15px;
	height: 40px;
	background: #F2B705;
	margin: 0 3px;
	border-radius: 10px;
	animation: Loader 0.8s infinite;
}

.obj:nth-child(2)
{
	animation-delay: 0.1s;
}
.obj:nth-child(3)
{
	animation-delay: 0.2s;
}
.obj:nth-child(4)
{
	animation-delay: 0.3s;
}
.obj:nth-child(5)
{
	animation-delay: 0.4s;
}
.obj:nth-child(6)
{
	animation-delay: 0.5s;
}
.obj:nth-child(7)
{
	animation-delay: 0.6s;
}
.obj:nth-child(8)
{
	animation-delay: 0.7s;
}

@keyframes Loader
{
	0%
	{
        background: #F2B705;
		height: 0;
	}
	
	50%
	{
		height: 50px;
	}
	
	100%
	{
        background: #A66D03;
		height: 0;
	}
}
/*#endregion Loader */

/*#region Top bar */
.topBar
{
    height: 100px;
    width: 100%;
}

.topBar a
{
    float: right;
    position: relative;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #222;
    top: 35px;
    padding: 0px 30px;
    text-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);

    transition: ease .3s;
}

.topBar a::before
{
    content: "";
    position: absolute;
    width: 90%;
    height: 2px;
    bottom: -5px;
    left: 5%;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);

    transition: all 0.3s ease-in-out 0s;
}

.topBar a.Logo
{
    float: left;
    font-weight: 900;
    font-size: 40px;
    color: black;
    top: 15px;
    padding: 0px 100px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.topBar a.Logo::before
{
    content: "";
    position: absolute;
    width: 70%;
    height: 4px;
    bottom: -5px;
    left: 15%;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.topBar a:hover
{
    color: #333;
}

.topBar a:hover::before
{
    visibility: visible;
    transform: scaleX(1);
}
/*#endregion Top bar */

/*#region Top main part */
.topMainPart
{
    width: 100%;
    height: 600px;
    background-color: #F2B705;
    border-bottom-left-radius: 50% 200px;
    border-bottom-right-radius: 50% 200px;

    transition: ease .3s;
}

.topMainPart h1
{
    color: #ddd;
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);

    transition: ease .3s;
}

.topMainPart h1.M
{
    width: 100px;
    height: 25px;
    margin-top: 50px;
    color: #eee;

    font-size: 100px;
    transform: scale(2,2.5);
    padding-left: 150px;

    transition: ease .3s;
}

.topMainPart h1.ersy
{
    width: 100px;
    height: 25px;
    margin-top: -80;
    padding-left: 340px;
    font-size: 100px;

    transition: ease .3s;
}

.topMainPart h1.usic
{
    width: 100px;
    height: 25px;
    margin-top: 80;
    padding-left: 340px;
    font-size: 100px;
    color: #222;

    transition: ease .3s;
}

.topMainPart h1.sideTextTitle
{
    width: 300px;
    height: 25px;
    margin-top: -200px;
    padding-left: 900px;
    color: #eee;
    font-size: 50px;

    transition: ease .3s;
}

.topMainPart p
{
    width: 550px;
    height: 25px;
    margin-top: 10px;
    padding-left: 900px;
    font-size: 28px;
    font-weight: 300;
    color: #ddd;

    transition: ease .3s;
}

.topMainPart .mainPageImage
{
    width: 200px;
    padding-left: calc(50% - 100px);
    padding-top: 200px;
    transform: rotateZ(-5deg);

    transition: ease .3s;
}

.topMainPart a.Button
{
    position: relative;
    top: 80px;

    transition: ease .3s;
}

.topMainPart a.Button::before
{
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    bottom: 10px;
    left: 15%;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.topMainPart a.Button:hover::before
{
    visibility: visible;
    transform: scaleX(1);
}
/*#endregion Top main part */

/*#region Music list */
.musicList
{
    width: 100%;
    padding-bottom: 20px;

    transition: ease .3s;
}

.musicList h1
{
    width: 100%;
    text-align: center;
    color: #F2B705;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 80px;

    transition: ease .3s;
}

.musicList .musicHolder
{
    width: 90%;
    height: 100px;
    margin-left: 5%;
    background-color: #333;
    border-radius: 999px;
    margin-bottom: 20px;

    transition: ease .3s;
}

.musicList .musicHolder .icon
{
    float: left;
    width: 100px;
    padding-left: 50px;

    transition: ease .3s;
}

.musicList .musicHolder .Name
{
    float: left;
    width: 200px;
    padding-left: 100px;
    padding-top: 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    color: #ddd;

    transition: ease .3s;
}

.musicList .musicHolder .Name threeDots
{
    display: none;
}

.musicList .musicHolder audio
{
    float: right;
    width: 600px;
    margin-top: 22px;
    margin-right: 20px;
    --pip-toggle-text-and-icon-color: white;

    transition: ease .3s;
}

.musicList .musicHolder audio::-webkit-media-controls-panel
{
    background-color: #ddd;
    color: white;
}
/*#endregion Music list */

/*#region Bottom Bar */
.bottomBar
{
    width: 100%;
    height: 70px;
    background-color: #111;
    text-align: justify;
}

.bottomBar:after
{
    content: '';
    display: inline-block;
    width: 100%;
}

.bottomBar:before
{
    content: '';
    display: block;
    margin-top: -1.25em;
}

.bottomBar a
{
    width: 30%;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    color: #aaa;
    padding-top: 20px;

    transition: ease .3s;
}

.bottomBar a.Instagram:hover
{
    color: #F77737;
}

.bottomBar a.Youtube:hover
{
    color: #FF0000;
}

.bottomBar a.Merch:hover
{
    color: blue;
}
/*#endregion Bottom Bar */

.Button
{
    padding: 12px 30px;
    background-color: white;
    color: black;
    border-radius: 999px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);

    transition: ease .3s;
}

.Button:hover
{
    background-color: black;
    color: white;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.5);
}

.sideMountedLink
{
    position: sticky;
    float: right;
    width: 250px;
    padding: 12px 22px;
    background-image: linear-gradient(to left, #222, #666);
    position: -webkit-sticky;
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    top: 0;
    font-size: 30px;
    text-decoration: none;
    color: #eee;

    z-index: 99;

    transition: ease .3s;
    animation: sliteAside .5s ease-out forwards;
}

.sideMountedLink img
{
    position: relative;
    width: 40px;
    top: 7;

    transition: ease .3s;
    transform: rotateY(-90deg);
    transform-origin: right;

    transition: rotateY(-90deg) .5s;
}

.sideMountedLink .Inside
{
    position: relative;
    top: -4;
}

.sideMountedLink:hover.sideMountedLink img
{
    animation: flipIn .3s ease-in forwards;
}

.sideMountedLink:not(:hover).sideMountedLink img
{
    animation: flipOut .3s ease-out forwards;
}

.sideMountedLink:hover
{
    width: 290px;
    filter: brightness(1.3);
}

/*#region Animations */
@keyframes flipIn
{
    0%
    {
        transform: rotateY(-90deg);
    }

    100%
    {
        transform: rotateY(0deg);
    }
}

@keyframes flipOut
{
    0%
    {
        transform: rotateY(0deg);
    }

    100%
    {
        transform: rotateY(-90deg);
    }
}
/*#endregion Animations */

/*#region Media 1300-1000 */
@media screen and (max-width: 1300px)
{
    .topMainPart h1.sideTextTitle
    {
        padding-left: 700px;
    }

    .topMainPart p
    {
        padding-left: 700px;
    }
}

@media screen and (max-width: 1200px)
{
    .topMainPart h1.M
    {
        padding-left: 100px;
    }
    
    .topMainPart h1.ersy
    {
        padding-left: 270px;
    }
    
    .topMainPart h1.usic
    {
        padding-left: 270px;
    }

    .topMainPart h1.sideTextTitle
    {
        padding-left: 600px;
    }

    .topMainPart p
    {
        padding-left: 600px;
    }

    .musicList .musicHolder audio
    {
        width: 400px;
    }
}

@media screen and (max-width: 1100px)
{
    .topMainPart h1.sideTextTitle, .topMainPart p
    {
        display: none;
    }

    .topMainPart h1.M
    {
        padding-left: 120px;
    }
    
    .topMainPart h1.ersy
    {
        padding-left: 300px;
    }
    
    .topMainPart h1.usic
    {
        padding-left: 300px;
    }

    .topMainPart .mainPageImage
    {
        display: none;
    }
}

@media screen and (max-width: 1000px)
{
    .musicList .musicHolder .Name
    {
        padding-left: 25px;
    }

    .musicList .musicHolder audio
    {
        width: 300px;
    }
}
/*#endregion Media 1300-1000 */

/*#region Media 900-800 */
@media screen and (max-width: 900px)
{

}

@media screen and (max-width: 800px)
{
    .musicList .musicHolder
    {
        height: 200px;
    }

    .musicList .musicHolder .icon
    {
        padding-left: 100px;
    }

    .musicList .musicHolder .Name
    {
        padding-left: 20px;
    }

    .musicList .musicHolder audio
    {
        width: calc(100% - 150px);
        margin-top: 22px;
        margin-right: 70px;
    }
}
/*#endregion Media 900-800 */

/*#region Media 700-600 */
@media screen and (max-width: 700px)
{
    .topMainPart
    {
        height: 500px;
    }

    .topMainPart h1.M
    {
        margin-top: 10px;
        padding-left: 60px;
    }
    
    .topMainPart h1.ersy
    {
        padding-left: 210px;
    }
    
    .topMainPart h1.usic
    {
        padding-left: 210px;
    }
}

@media screen and (max-width: 600px)
{
    .topBar a.Logo
    {
        padding: 0px 30px;
    }

    .bottomBar
    {
        height: 180px;
    }

    .bottomBar a
    {
        width: 100%;
        display: table;
    }
}
/*#endregion Media 700-600 */

/*#region Media 500-410 */
@media screen and (max-width: 500px)
{
    .topMainPart
    {
        height: 400px;
    }

    .topMainPart h1.M
    {
        padding-left: 80px;
        font-size: 70px;
    }
    
    .topMainPart h1.ersy
    {
        margin-top: -65;
        padding-left: 190px;
        font-size: 65px;
    }
    
    .topMainPart h1.usic
    {
        margin-top: 45;
        padding-left: 190px;
        font-size: 65px;
    }

    .musicList h1
    {
        font-size: 30px;
    }

    .musicList .musicHolder
    {
        background-color: #333;
        border-radius: 70px;
    }

    .musicList .musicHolder .icon
    {
        padding-left: 50px;
    }

    .musicList .musicHolder .Name
    {
        float: right;
        width: auto;
        text-align: right;
        padding-left: 0px;
        padding-right: 30px;
    }

    .musicList .musicHolder audio
    {
        width: calc(100% - 70px);
        margin-right: 30px;
    }
}

@media screen and (max-width: 450px)
{
    .topMainPart
    {
        height: 350px;
        border-bottom-left-radius: 49% 190px;
        border-bottom-right-radius: 49% 190px;
    }
}

@media screen and (max-width: 410px)
{
    .musicList .musicHolder .Name continue
    {
        display: none;
    }

    .musicList .musicHolder .Name threeDots
    {
        display: inline;
    }
}
/*#endregion Media 500-410 */